<div class="row">
    <div class="col-6">
        <app-dona [labels]="labels1" [data]="data1" title="Ventas"></app-dona>
    </div>
    <div class="col-6">
        <app-dona [labels]="labels2" [data]="data2" title="Bebidas"> </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona [labels]="labels3" [data]="data3" title="Frutas"></app-dona>
    </div>
    <div class="col-6">
        <app-dona
            [labels]="labels4"
            [data]="data4"
            title="Vehículos"
        ></app-dona>
    </div>
</div>
